In [1]:
import pandas as pd #pandasをpdとしてインポート
import re
from tqdm import tqdm
tqdm.pandas()
 
#データをdfに読み込み。pandasをpdとして利用。
df_locations = pd.read_csv("csvs/latest-okinawa.csv")
df_zips =  pd.read_csv("csvs/postalcode_roman-okinawa.csv", header=None, dtype=str)
df_zips2 = df_zips.copy()
df_zips2.columns = ['郵便番号', '都道府県名2', '市区町村名2', '大字町丁目名2', '都道府県名カナ2', '市区町村名カナ2', '大字町丁目名カナ2']

In [2]:
df_locations

,都道府県コード,都道府県名,都道府県名カナ,都道府県名ローマ字,市区町村コード,市区町村名,市区町村名カナ,市区町村名ローマ字,大字町丁目名,大字町丁目名カナ,大字町丁目名ローマ字,小字・通称名,緯度,経度
0,47,沖縄県,オキナワケン,OKINAWA KEN,47201,那覇市,ナハシ,NAHA SHI,古波蔵一丁目,コハグラ 1,KOHAGURA 1,NaN,26.199562,127.691306
1,47,沖縄県,オキナワケン,OKINAWA KEN,47201,那覇市,ナハシ,NAHA SHI,真嘉比一丁目,マカビ 1,MAKABI 1,NaN,26.222671,127.700862
2,47,沖縄県,オキナワケン,OKINAWA KEN,47201,那覇市,ナハシ,NAHA SHI,楚辺三丁目,ソベ 3,SOBE 3,NaN,26.207035,127.683173
3,47,沖縄県,オキナワケン,OKINAWA KEN,47201,那覇市,ナハシ,NAHA SHI,宇栄原六丁目,ウエバル 6,UEBARU 6,NaN,26.184452,127.665806
4,47,沖縄県,オキナワケン,OKINAWA KEN,47201,那覇市,ナハシ,NAHA SHI,宇栄原五丁目,ウエバル 5,UEBARU 5,NaN,26.186091,127.666990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1265,47,沖縄県,オキナワケン,OKINAWA KEN,47215,南城市,ナンジョウシ,NANJO SHI,知念,チネンアザマ,CHINEN AZAMA,知名,26.183835,127.813337
1266,47,沖縄県,オキナワケン,OKINAWA KEN,47215,南城市,ナンジョウシ,NANJO SHI,知念,チネンアザマ,CHINEN AZAMA,吉富,26.167796,127.817767
1267,47,沖縄県,オキナワケン,OKINAWA KEN,47215,南城市,ナンジョウシ,NANJO SHI,知念,チネンアザマ,CHINEN AZAMA,久手堅,26.170679,127.823115
1268,47,沖縄県,オキナワケン,OKINAWA KEN,47215,南城市,ナンジョウシ,NANJO SHI,知念,チネンアザマ,CHINEN AZAMA,安座真,26.177382,127.823061
1269,47,沖縄県,オキナワケン,OKINAWA KEN,47325,中頭郡嘉手納町,ナカガミグンカデナチョウ,NAKAGAMI GUN KADENA CHO,字兼久,NaN,NaN,下原,26.351841,127.744975

In [3]:
df_zips2

,郵便番号,都道府県名2,市区町村名2,大字町丁目名2,都道府県名カナ2,市区町村名カナ2,大字町丁目名カナ2
0,9000000,沖縄県,那覇市,以下に掲載がない場合,OKINAWA KEN,NAHA SHI,IKANIKEISAIGANAIBAAI
1,9010154,沖縄県,那覇市,赤嶺,OKINAWA KEN,NAHA SHI,AKAMINE
2,9000002,沖縄県,那覇市,曙,OKINAWA KEN,NAHA SHI,AKEBONO
3,9020067,沖縄県,那覇市,安里,OKINAWA KEN,NAHA SHI,ASATO
4,9000029,沖縄県,那覇市,旭町,OKINAWA KEN,NAHA SHI,ASAHIMACHI
...,...,...,...,...,...,...,...
798,9071433,沖縄県,八重山郡 竹富町,南風見仲,OKINAWA KEN,YAEYAMA GUN TAKETOMI CHO,HAIMINAKA
799,9071751,沖縄県,八重山郡 竹富町,波照間,OKINAWA KEN,YAEYAMA GUN TAKETOMI CHO,HATERUMA
800,9071544,沖縄県,八重山郡 竹富町,鳩間,OKINAWA KEN,YAEYAMA GUN TAKETOMI CHO,HATOMA
801,9071800,沖縄県,八重山郡 与那国町,以下に掲載がない場合,OKINAWA KEN,YAEYAMA GUN YONAGUNI CHO,IKANIKEISAIGANAIBAAI
802,9071801,沖縄県,八重山郡 与那国町,与那国,OKINAWA KEN,YAEYAMA GUN YONAGUNI CHO,YONAGUNI

In [4]:
df_locations.loc[0]

都道府県コード                47
都道府県名                 沖縄県
都道府県名カナ            オキナワケン
都道府県名ローマ字     OKINAWA KEN
市区町村コード             47201
市区町村名                 那覇市
市区町村名カナ               ナハシ
市区町村名ローマ字        NAHA SHI
大字町丁目名             古波蔵一丁目
大字町丁目名カナ           コハグラ 1
大字町丁目名ローマ字     KOHAGURA 1
小字・通称名                NaN
緯度              26.199562
経度             127.691306
Name: 0, dtype: object

In [5]:
df_zips2.loc[0]

郵便番号                      9000000
都道府県名2                        沖縄県
市区町村名2                        那覇市
大字町丁目名2                以下に掲載がない場合
都道府県名カナ2              OKINAWA KEN
市区町村名カナ2                 NAHA SHI
大字町丁目名カナ2    IKANIKEISAIGANAIBAAI
Name: 0, dtype: object

In [6]:
len(df_zips2.index)

803

In [7]:
len(df_locations.index)

1270

In [8]:
df_zips2['都道府県名2'].str.cat(df_zips2['市区町村名2']).str.cat(df_zips2['大字町丁目名2']).str.replace('　', '')  # 全角スペースを削除

0           沖縄県那覇市以下に掲載がない場合
1                   沖縄県那覇市赤嶺
2                    沖縄県那覇市曙
3                   沖縄県那覇市安里
4                   沖縄県那覇市旭町
               ...
798           沖縄県八重山郡竹富町南風見仲
799            沖縄県八重山郡竹富町波照間
800             沖縄県八重山郡竹富町鳩間
801    沖縄県八重山郡与那国町以下に掲載がない場合
802           沖縄県八重山郡与那国町与那国
Name: 都道府県名2, Length: 803, dtype: object

In [9]:
df_zips2['full_name'] = df_zips2['都道府県名2'].str.cat(df_zips2['市区町村名2']).str.cat(df_zips2['大字町丁目名2']).str.replace('　', '')
df_zips2.head(3)

,郵便番号,都道府県名2,市区町村名2,大字町丁目名2,都道府県名カナ2,市区町村名カナ2,大字町丁目名カナ2,full_name
0,9000000,沖縄県,那覇市,以下に掲載がない場合,OKINAWA KEN,NAHA SHI,IKANIKEISAIGANAIBAAI,沖縄県那覇市以下に掲載がない場合
1,9010154,沖縄県,那覇市,赤嶺,OKINAWA KEN,NAHA SHI,AKAMINE,沖縄県那覇市赤嶺
2,9000002,沖縄県,那覇市,曙,OKINAWA KEN,NAHA SHI,AKEBONO,沖縄県那覇市曙

In [10]:
df_locations["full_name"] = df_locations["都道府県名"].str.cat(df_locations["市区町村名"]).str.cat(df_locations["大字町丁目名"])
df_locations.head(7)

,都道府県コード,都道府県名,都道府県名カナ,都道府県名ローマ字,市区町村コード,市区町村名,市区町村名カナ,市区町村名ローマ字,大字町丁目名,大字町丁目名カナ,大字町丁目名ローマ字,小字・通称名,緯度,経度,full_name
0,47,沖縄県,オキナワケン,OKINAWA KEN,47201,那覇市,ナハシ,NAHA SHI,古波蔵一丁目,コハグラ 1,KOHAGURA 1,NaN,26.199562,127.691306,沖縄県那覇市古波蔵一丁目
1,47,沖縄県,オキナワケン,OKINAWA KEN,47201,那覇市,ナハシ,NAHA SHI,真嘉比一丁目,マカビ 1,MAKABI 1,NaN,26.222671,127.700862,沖縄県那覇市真嘉比一丁目
2,47,沖縄県,オキナワケン,OKINAWA KEN,47201,那覇市,ナハシ,NAHA SHI,楚辺三丁目,ソベ 3,SOBE 3,NaN,26.207035,127.683173,沖縄県那覇市楚辺三丁目
3,47,沖縄県,オキナワケン,OKINAWA KEN,47201,那覇市,ナハシ,NAHA SHI,宇栄原六丁目,ウエバル 6,UEBARU 6,NaN,26.184452,127.665806,沖縄県那覇市宇栄原六丁目
4,47,沖縄県,オキナワケン,OKINAWA KEN,47201,那覇市,ナハシ,NAHA SHI,宇栄原五丁目,ウエバル 5,UEBARU 5,NaN,26.186091,127.666990,沖縄県那覇市宇栄原五丁目
5,47,沖縄県,オキナワケン,OKINAWA KEN,47201,那覇市,ナハシ,NAHA SHI,宇栄原四丁目,ウエバル 4,UEBARU 4,NaN,26.185664,127.671191,沖縄県那覇市宇栄原四丁目
6,47,沖縄県,オキナワケン,OKINAWA KEN,47201,那覇市,ナハシ,NAHA SHI,壺川一丁目,ツボガワ 1,TSUBOGAWA 1,NaN,26.205830,127.681725,沖縄県那覇市壺川一丁目

In [11]:
df_locations2 =  df_locations.loc[:,['full_name', '緯度', '経度']]
df_locations2.head(5)

      full_name         緯度          経度
0  沖縄県那覇市古波蔵一丁目  26.199562  127.691306
1  沖縄県那覇市真嘉比一丁目  26.222671  127.700862
2   沖縄県那覇市楚辺三丁目  26.207035  127.683173
3  沖縄県那覇市宇栄原六丁目  26.184452  127.665806
4  沖縄県那覇市宇栄原五丁目  26.186091  127.666990

In [12]:
df_zips2 =  df_zips2.loc[:,['郵便番号', 'full_name']]
df_zips2.head(5)

      郵便番号         full_name
0  9000000  沖縄県那覇市以下に掲載がない場合
1  9010154          沖縄県那覇市赤嶺
2  9000002           沖縄県那覇市曙
3  9020067          沖縄県那覇市安里
4  9000029          沖縄県那覇市旭町

In [13]:
df_zips2.to_csv('csvs/_zips2.csv')
df_locations2.to_csv('csvs/_locations2.csv')

In [14]:
zip_locations = pd.merge(df_zips2, df_locations2, how='outer', on='full_name')
zip_locations.head(10)

      郵便番号         full_name        緯度          経度
0  9000000  沖縄県那覇市以下に掲載がない場合       NaN         NaN
1  9010154          沖縄県那覇市赤嶺       NaN         NaN
2  9000002           沖縄県那覇市曙       NaN         NaN
3  9020067          沖縄県那覇市安里       NaN         NaN
4  9000029          沖縄県那覇市旭町  26.20947  127.676677
5  9010143         沖縄県那覇市安次嶺       NaN         NaN
6  9000003          沖縄県那覇市安謝       NaN         NaN
7  9000005          沖縄県那覇市天久       NaN         NaN
8  9000021          沖縄県那覇市泉崎       NaN         NaN
9  9000011         沖縄県那覇市上之屋       NaN         NaN

In [15]:
zip_locations.isna().sum()

郵便番号         1221
full_name       0
緯度            754
経度            754
dtype: int64

In [16]:
i = 0
with tqdm(total=len(list(zip_locations.iterrows()))) as pbar:
  for index, row in zip_locations.iterrows():
      pbar.update(1)
      i += 1
      if i > 1100:
        break
      if not pd.isnull(row['緯度']):
          next
      # print(row['full_name'], row['緯度'])
      name = row['full_name'].replace('以下に掲載がない場合', '')
      name = re.sub(r'（.+', '', name)    
      locs = df_locations2[df_locations2['full_name'].str.startswith(name)]
      if locs.size == 0:
        while True:
            if locs.size > 0:
                break
            name = name[0:-1]
            # print("--", name)
            locs = df_locations2[df_locations2['full_name'].str.startswith(name)]
      ## print(row['full_name'])
      target = locs[0:1]
      ## print(target['緯度'])
      zip_locations.iloc[index, 2] = target['緯度']
      zip_locations.iloc[index, 3]  = target['経度']
print(i)

 54%|██████████████████████████████████▊                             | 1101/2024 [00:02<00:02, 458.93it/s]

1101

In [17]:
zip_locations.head(10)

      郵便番号         full_name         緯度          経度
0  9000000  沖縄県那覇市以下に掲載がない場合  26.199562  127.691306
1  9010154          沖縄県那覇市赤嶺  26.195400  127.662876
2  9000002           沖縄県那覇市曙  26.239992  127.682645
3  9020067          沖縄県那覇市安里  26.220181  127.696607
4  9000029          沖縄県那覇市旭町  26.209470  127.676677
5  9010143         沖縄県那覇市安次嶺  26.236112  127.690279
6  9000003          沖縄県那覇市安謝  26.236112  127.690279
7  9000005          沖縄県那覇市天久  26.231555  127.691517
8  9000021          沖縄県那覇市泉崎  26.209001  127.680472
9  9000011         沖縄県那覇市上之屋  26.227585  127.688016

In [18]:
zip_locations.isna().sum()

郵便番号         1221
full_name       0
緯度              0
経度              0
dtype: int64

In [19]:
zip_locations.to_csv('csvs/zip_locations-okinawa.csv')